body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-family: Comic Sans MS;
    color: darkblue;
    font-size: 60px;
}

h4{
    text-align: right;
    font-style: italic;
}

h3{
    text-align: left;   
}
.h3plok{
    color: aliceblue;
}

.h3plok:hover{
    color: brown;
    text-decoration: none;
}

.p1plok{
    color: rgb(239, 172, 4);
}

.p2plok{
    color: rgb(5, 5, 234);
    text-decoration: none;
    font-weight: bold;
}

.p2plok:hover{
    color: white;
    background-color: rgb(5, 5, 234);
}


